* {
   box-sizing: border-box;
}

* {
   margin: 0;
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

html,
body {
   width: 100%;
   height: 100%;
}

ul li {
   list-style: none;
}

.wrapper {
   min-height: 100%;
   font-family: 'Montserrat', sans-serif;
   display: flex;
   flex-direction: column;
}

.container {
   max-width: 1400px;
   margin: 0 auto;
   padding: 0 15px;
   overflow: hidden;
}

.header {
   background-color: #202026;
}

.nav {
   padding: 15px 0;
}

.nav__list {
   display: flex;
   justify-content: end;
}

.nav__item {

}

.nav__link {
   padding: 0 15px;
   font-size: 15px;
   font-weight: 600;
   color: #fff;
}

.content {
flex: 1 1 auto;
}

.profile {

}

.profile__body {
   display: flex;
}

.profile__image {
   flex: 0 0 33.3%;
}
.profile__image img{
   max-width: 100%;
}

.profile__main {
   flex: 1 1 66.7%;
   align-self: center;
   padding: 65px 0 65px 55px;
   font-weight: 500;
   letter-spacing: 10px;
   background-color: #fecb00;
}

.profile__title {
   font-size: 50px;
}

.profile__subtitle {
   font-size: 30px;
}

.content{}
.profile{}
.container{}
.profile__body{}
.profile__image{}
.profile__main{}
.profile__title{}
.profile__subtitle{}
.content__info{}
.content__body{}
.info-part1{}
.content__contacts{}
.block__list{}
.block__item{}
.block__link{}
.info-part2{}
.content__about-me{}
.block .block__title{}
.block__text{}
.content__education{}
.content__projects{}
.content__code-example{}
.content__code{}
.content__skills{}
.content__languages{}


.footer {}



