/* stylelint-disable no-duplicate-selectors */
html,
body {
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

* {
	margin: 0;
	border: 0;
	padding: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 20px;
}

.container {
	overflow: hidden;
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1400px;
}

@media (max-width: 430px) {
	.container {
		padding: 0;
	}
}

.header {
	background-color: #000;
}

.nav {
	padding: 25px 0;
}

.nav__list {
	display: flex;
	justify-content: end;
}

.nav__link {
	margin: 0 auto;
	padding: 0 15px;
	font-size: 15px;
	color: #fff;
	transition: all 0.3s ease 0s;
}

@media (max-width: 992px) {
	.nav__link {
		font-size: 13px;
	}
}

@media (max-width: 576px) {
	.nav {
		padding: 10px 0;
	}

	.nav__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.nav__link:hover {
	color: #fecb00;
}

.content {
	flex: 1 1 auto;
}

.profile__body {
	display: flex;
}

.profile__image {
	flex: 0 0 450px;
	margin: 0 0 0 -15px;
}

@media (max-width: 992px) {
	.profile__image {
		flex: 0 0 350px;
	}
}

@media (max-width: 576px) {
	.profile__image {
		flex: 0 0 250px;
	}
}

@media (max-width: 430px) {
	.profile__body {
		flex-direction: column;
	}
}

.profile__image img {
	width: 100%;
	height: 100%;
	max-width: 100%;
	object-fit: cover;
}

.profile__main {
	flex: 1 1 auto;
	align-self: center;
	padding: 65px 0 65px 55px;
	font-weight: 500;
	letter-spacing: 10px;
	background-color: #fecb00;
}

.profile__title {
	margin: 0 0 15px;
	font-size: 45px;
}

.profile__subtitle {
	font-size: 22px;
}

@media (max-width: 1100px) {
	.profile__main {
		padding: 45px 0 45px 25px;
		letter-spacing: 8px;
	}
}

@media (max-width: 992px) {
	.profile__main {
		padding: 45px 0 45px 15px;
		letter-spacing: 6px;
	}

	.profile__title {
		font-size: 32px;
	}

	.profile__subtitle {
		font-size: 18px;
	}
}

@media (max-width: 576px) {
	.profile__main {
		padding: 25px 0 25px 15px;
		letter-spacing: 3px;
	}

	.profile__title {
		font-size: 25px;
	}

	.profile__subtitle {
		font-size: 16px;
	}
}

@media (max-width: 430px) {
	.profile__main {
		align-self: stretch;
		order: -1;
		padding: 15px 0 15px 15px;
	}
}

.content__body {
	display: flex;
}

@media (max-width: 576px) {
	.content__body {
		flex-direction: column;
	}
}

.info-part1 {
	flex: 0 0 450px;
	margin: 0 0 0 -15px;
	background-color: #000;
}

@media (max-width: 992px) {
	.info-part1 {
		flex: 0 0 350px;
	}
}

@media (max-width: 576px) {
	.info-part1 {
		flex: 0 1 auto;
	}
}

.content__contacts {
	height: 100%;
}

.content__contacts-title {
	padding: 25px 0 0 35px;
	font-weight: 600;
	font-size: 30px;
	letter-spacing: 5px;
	color: #fff;
}

.contacts__list {
	width: 100%;
}

.contacts__item {
	margin: 25px 0;
}

.contacts__item-name {
	position: relative;
	padding: 5px 75px;
	font-weight: 600;
	font-size: 20px;
	color: #fff;
	background-color: #292a30;
}

.contacts__item-name::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 55px;
	height: 100%;
	background-color: #fecb00;
}

.contacts__link {
	padding: 0 75px;
	font-weight: 500;
	font-size: 18px;
	letter-spacing: 1px;
	color: #fff;
}

.contacts__link:hover {
	text-decoration: underline;
	color: #fecb00;
}

@media (max-width: 1100px) {
	.content__contacts-title {
		font-size: 25px;
	}

	.contacts__item-name {
		font-size: 18px;
	}

	.contacts__link {
		font-size: 15px;
	}
}

@media (max-width: 992px) {
	.content__contacts-title {
		font-size: 22px;
	}

	.contacts__item-name {
		padding: 5px 0 5px 75px;
	}

	.contacts__link {
		padding: 0 0 0 75px;
	}
}

.info-part2 {
	flex: 1 1 auto;
	padding: 0 55px;
  font-size: 18px;
}

@media (max-width: 992px) {
	.info-part2 {
		padding: 0 0 0 35px;
	}
}

@media (max-width: 576px) {
	.info-part2 {
		order: -1;
		margin: 15px 0 0;
	}
}

.content__about-me {
	margin: 0 0 25px;
}

.block {
	max-width: 800px;
}

.block__title {
	position: relative;
	margin: 0 0 15px;
	padding: 0 0 25px;
	font-weight: 600;
	font-size: 30px;
	letter-spacing: 5px;
}

.block__title::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: #202026;
}

@media (max-width: 1100px) {
	.block__title {
		font-size: 25px;
	}
}

@media (max-width: 992px) {
	.block__title {
		font-size: 22px;
	}
}

@media (max-width: 576px) {
	.content__about-me {
		margin: 0 0 15px;
	}

	.block__title {
		margin: 0 0 10px;
		padding: 0 0 15px;
	}
}

.block__text{
  text-align: justify;
  text-indent: 15px;
}

.block__link {
	color: #000;
	transition: all 0.3s ease 0s;
}

.block__link:hover {
	text-decoration: underline;
	color: #fecb00;
}

.block__list span {
	font-size: 15px;
}

.block__item {
	position: relative;
	margin: 0 0 15px;
	padding: 0 20px;
}

.block__item::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background-color: #fecb00;
}

.content__education {
	margin: 0 0 25px;
}

.content__projects {
	margin: 0 0 25px;
}

.content__code-example {
	margin: 0 0 25px;
}

.content__code {
	color: #fff;
	background-color: #565659;
}

@media (max-width: 992px) {
	.content__code {
		font-size: 16px;
	}
}

@media (max-width: 576px) {
	.block__item {
		margin: 0 0 10px;
	}

	.content__education {
		margin: 0 0 15px;
	}

	.content__projects {
		margin: 0 0 15px;
	}

	.content__code-example {
		margin: 0 0 15px;
	}

	.content__skills {
		margin: 0 0 15px;
	}

	.content__languages {
		margin: 0 0 15px;
	}
}

.content__skills {
	margin: 0 0 25px;
}

.content__languages {
	margin: 0 0 25px;
}

.footer {
	padding: 15px 15px 0;
	background-color: #000;
}

.footer__body {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.footer__row {
	height: 60px;
}

.footer__link {
	display: inline-block;
	padding: 6px;
	width: 56px;
	transition: all 0.3s ease 0s;
}

.footer__link_white {
	width: 85px;
	background-color: #fff;
}

.footer__link:hover {
	transform: scale(1.15);
}

.footer__link img {
	max-width: 100%;
}

.footer__text {
	padding: 0 15px;
	font-size: 14px;
	color: #fff;
}
